body {
    background-color: lightskyblue;
    color: white;
    padding: 1%;
    background-image: url("./images/background.png");
    font-family: 'Roboto Condensed', sans-serif;
}

.bookContainer {
   
    margin : 1%;
    padding: 1%;
}

.priceContainer {
    padding-top: 1%;
    
}

#cartButton {
   
    margin-left: 3.5%;
}

#cartContainer {
    background-image: url("./images/cart.png");
    position: absolute;
    top: 100px;
    right: 50px;
    padding-bottom: 100px;
    padding-left: 75px;  
    background-repeat: no-repeat; 
   
    
}

#bookInfo {
   
    margin-left: 20px;
    
}


header {
    height: 100px;
    background-color: white;
    color: lightskyblue;
    text-align: left;
    padding: 2%
}

h2 {
    font-size: 35pt;
}

#introContainer {
    width: 1000px;
}

p {
    font-size: 18pt;
    padding-left: 5%;
    padding-top: 1.5%;
}